/* ---- Home ---- */
.home-wrap {
  .heading {
    @include min(md){ display: flex; }

    .slider-pictures {
      @include min(md){ width: calc((840vw*100)/1440); }

      >div {
        height: 100%; margin: 0; padding: 0; list-style: none;

        >div {
          height: 100%;

          figure {
            height: 100%; margin: 0; position: relative; overflow: hidden;

            .default-cover-bg { background-position: center,center; background-repeat: no-repeat; background-size: cover; position: absolute; top: 0; left: 0; right: 0; bottom: 0; z-index: 1; animation: 1.5s scaleDown ease; }
          }
        }
      }

      // Slider styles
      .slick-slider {
        .slick-list { height: 96vw;
          @include min(md){ height: 100%; }
          .slick-track { height: 96vw;
            @include min(md){ height: 100%; }
          }
        }
        .slick-slide {
          position: absolute !important; bottom: 0 !important; left: 0 !important;

          div { height: 100%;
            figure { height: 100%; }
          }
        }
        // Arrows navigation
        .slick-arrow {
          position: absolute; width: 56px; height: 56px; display: flex; justify-content: center; align-items: center; background-color: $black; border-radius: 0; z-index: 2; border: none; text-align: center; font-size: 0; transition: .3s background-color ease; cursor: pointer;
          @include min(md){ display: none !important; }

          &:hover { background-color: $grey; }
          &::before { display: inline-block; font-size: 16px; color: $white; }
          //@include min(md){ display: none; }
          &.slick-prev { right: 56px; bottom: 0; @include icon(angle-left); }
          &.slick-next { right: 0; bottom: 0; @include icon(angle-right); }
        }
      }
    }
    .slider-texts {
      position: relative;
      @include min(md){ width: calc((600vw*100)/1440); }

      >div {
         position: relative; margin: 0; padding: 0; list-style: none;

        >div {
          .card-wrapper {
            padding: rem(63px) rem(33px);
            @include min(md){ height: 535px; padding: rem(63px) rem(100px) rem(85px); display: flex; flex-direction: column; justify-content: center;}

            h2 {
              font-size: rem(35px); margin: 0 0 rem(17px); line-height: 1; font-weight: 600;
              @include min(md){ font-size: rem(44px); margin-bottom: rem(23px); }
            }
            p {
              font-size: rem(15px); line-height: 1.45; color: $grey; margin: 0 0 rem(30px);
              @include min(md){ margin-bottom: rem(12px); line-height: 1.5;   }
            }
          }
        }

        // Slider styles
        &.slick-slider {
          // Arrows navigation
          .slick-arrow {
            position: absolute; width: calc(((160vw*100)/1440)/2); height: 80px; display: flex; justify-content: center; align-items: center; background-color: $black; border-radius: 0; z-index: 2; border: none; text-align: center; font-size: 0; transition: .3s background-color ease; cursor: pointer; display: none !important;
            @include min(md){ display: block !important; }

            &:hover { background-color: $grey; }
            &::before { display: inline-block; font-size: 25px; color: $white; }
            //@include min(md){ display: none; }
            &.slick-prev { left: 0px; bottom: 0; @include icon(angle-left); }
            &.slick-next { left:  calc(((160vw*100)/1440)/2); bottom: 0; @include icon(angle-right); }
          }
        }
      }
    }
  }

  // Three col section
  .about {
    @include min(md){ display: flex; }

    .picture {
      @include min(md){ width: calc((420vw*100)/1440); }

      img { display: block; width: 100%; }
    }
    .text {
      padding: rem(50px) rem(33px);
      @include min(md){ width: calc((580vw*100)/1440); padding: rem(50px) rem(48px); display: flex; flex-direction: column; justify-content: center;}

      h2 { font-size: rem(16px); text-transform: uppercase; font-weight: 600; letter-spacing: rem(5px);
        @include min(md){ letter-spacing: rem(7px); }
      }
      p { font-size: rem(15px); line-height: 1.45; color: $grey; margin: 0; }

      + .picture {
        @include min(md){ width: calc((440vw*100)/1440); }
      }
    }
  }
}

@keyframes scaleDown {
  0% { transform: scale(1.4);}
  100% { transform: scale(1);}
}