/* ---- Icons Font ---- */
@font-face {
  font-family: "roomicon";
  src: url('../fonts/icons/roomicon.eot');
  src: url('../fonts/icons/roomicon.eot?#iefix') format('eot'),
    url('../fonts/icons/roomicon.woff2') format('woff2'),
    url('../fonts/icons/roomicon.woff') format('woff'),
    url('../fonts/icons/roomicon.ttf') format('truetype'),
    url('../fonts/icons/roomicon.svg#roomicon') format('svg');
}

@mixin icon-styles {
  font-family: "roomicon", sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  font-style: normal;
  font-variant: normal;
  font-weight: normal;
  // speak: none; // only necessary if not using the private unicode range (firstGlyph option)
  text-decoration: none;
  text-transform: none;
}

%icon {
  @include icon-styles;
}

@function icon-char($filename) {
  $char: "";

  @if $filename == angle-left {
    $char: "\E001";
  }
  @if $filename == angle-right {
    $char: "\E002";
  }
  @if $filename == arrow {
    $char: "\E003";
  }
  @if $filename == close {
    $char: "\E004";
  }
  @if $filename == hamburger {
    $char: "\E005";
  }

  @return $char;
}

@mixin icon($filename, $insert: before, $extend: true) {
  &:#{$insert} {
    @if $extend {
      @extend %icon;
    } @else {
      @include icon-styles;
    }
    content: icon-char($filename);
  }
}

.icon-angle-left {
  @include icon(angle-left);
}
.icon-angle-right {
  @include icon(angle-right);
}
.icon-arrow {
  @include icon(arrow);
}
.icon-close {
  @include icon(close);
}
.icon-hamburger {
  @include icon(hamburger);
}
